.container {
    width: 30rem;
    height: 65rem;
    background-color: white;
   
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;

}
.container:hover{
    box-shadow: 5px 10px 3px rgb(136, 134, 134);
}

.box {
    padding-left: 1rem;
    padding-top: 4rem;
}

img {
    width: 25rem;
    height: 22rem;
    padding-top: 2rem;
}

.bigBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #1a131363;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* width: auto; */
    flex-wrap: wrap;
}
.content1 {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* flex-direction: row; */
    width: 25rem;
}
p {
    text-align: left;
    padding-left: 1rem;
}
.content2 {
    display: flex;
    margin-left: 1rem;
}
a {
    text-decoration: none;
    color: black;
}
.navi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
h1 {
    color:black;
}
h1::first-letter{
    text-transform: capitalize;
}
/* body{
    background-color:#2b4670;
} */
